[Unit]
Description=Starts ARDeco backend service
After=network-online.target
StartLimitBurst=10

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/ardeco/backend/dist/main
Restart=always
WorkingDirectory=/opt/ardeco/backend

[Install]
WantedBy=multi-user.target
