[Unit]
Description=Starts ARDeco frontend service
After=network-online.target
StartLimitBurst=10

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/ardeco/web/server/index.mjs
Restart=always
WorkingDirectory=/opt/ardeco/web

[Install]
WantedBy=multi-user.target
